<!DOCTYPE html>
<html>

<head>

    <title>Python Quiz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>

        let timeLeft = {{ remaining_seconds }};

        function updateTimer() {

            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;

            document.getElementById("timer").innerHTML =
                minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

            if (timeLeft <= 0) {

                document.getElementById("quizForm").submit();

            }

            timeLeft--;

        }

        setInterval(updateTimer, 1000);

    </script>

</head>

<body onload="updateTimer()">

    <h1>Python Basics Quiz</h1>

    <h2>
        Time Remaining:
        <span id="timer"></span>
    </h2>

    <form action="/submit" method="POST" id="quizForm">

        <label><b>Enter Your Name:</b></label>

        <input type="text" name="username" required>

        <br><br>

        {% for q in questions %}

            {% set outer_loop = loop %}

            <h3>{{ q.question }}</h3>

            {% for option in q.options %}

                <input type="radio"
                       name="q{{ outer_loop.index0 }}"
                       value="{{ option }}"
                       required>

                {{ option }}

                <br>

            {% endfor %}

            <br>

        {% endfor %}

        <button type="submit">
            Submit Quiz
        </button>

    </form>

</body>

</html>