<!DOCTYPE html>
<html>

<head>

    <title>Python Quiz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <h1>Python Basics Quiz</h1>

    <form action="/submit" method="POST">

        <label><b>Enter Your Name:</b></label>

        <input type="text" name="username" required>

        <br><br>

        {% for q in questions %}

            {% set outer_loop = loop %}

            <h3>{{ q.question }}</h3>

            {% for option in q.options %}

                <input type="radio"
                       name="q{{ outer_loop.index0 }}"
                       value="{{ option }}"
                       required>

                {{ option }}

                <br>

            {% endfor %}

            <br>

        {% endfor %}

        <button type="submit">Submit Quiz</button>

    </form>

</body>

</html>